doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    title #{session} | #{title}
  body.index

  header.header
    a(href='/select/sarah') retour à la bibliothèque des médias

  div.media-choice
    button#photo Images
    button#video-btn Vidéos
    button#stopmotion Stop motion
    button#audio Sons

  div.left
    div.video
      h3 Video Live Stream
      video(id="video" autoplay)

    div.capture
      div.photo-capture
        button#capture-btn Capture
      div.video-capture
        button(id='record-btn' disabled) Capture Video
        button(id='stop-btn' disabled) Stop Video
        span#elasped-time
        button#play-btn Play
        button#reset Reset recording
        button#save-video Enregistrer la vidéo
      div.stopmotion-capture
        button#start-sm Start a new stop motion
        button#capture-sm Capture stop motion
        button#stop-sm Finnish stop motion
      div.audio-capture
        button#start-recording Start Recording
        button(id ="pause-recording" disabled) Pause Recording
        button(id ="stop-recording" disabled) Stop Recording
        h2#audio-url-preview

  div.right   
    div.screenshot
      h3 Screenshot View
      canvas#canvas
    
    div.audio
      audio(id="audio" autoplay controls)

    div.form-meta
      div.meta
        input(class="titre" placeholder="Titre")
        textarea(class="legende" placeholder="Légende")
        input(class="tags" placeholder="Tags")

      div.valid
        button#valider Enregistrer

  //- scripts
  script(src='/socket.io/socket.io.js')
  script var app = {}; app.session = "#{session}";
  script(src='/js/jquery-1.11.1.js')
  
  //- some packages for getting and attaching user media
  script(src="/js/lib/getusermedia.bundle.js")
  script(src="/js/lib/attachmediastream.bundle.js")
  //- a package for playing back the recording 
  script(src="/js/lib/fauxplay.bundle.js")
  script(src="/js/lib/video-recorder.bundle.js")
  script(src="/js/lib/recordRTC.js")
  //- A real time javascript webm encoder based on a canvas hack
  script(src="/js/lib/whammy.min.js")
  script(src='/js/capture.js')